Source: brightbox-builder
Section: misc
Priority: optional
Maintainer: Neil Wilson <neil@aldur.co.uk>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: gettext
Standards-Version: 3.9.2
Vcs-Browser: https://github.com/NeilW/brightbox-builder
Vcs-Git: git://github.com/NeilW/brightbox-builder.git

Package: brightbox-builder
Architecture: all
Depends: ${misc:Depends}, debootstrap 
Conflicts: live-build
Replaces: live-build
Recommends:
 live-boot-doc, live-config-doc, live-manual-html | live-manual, cpio,
 gettext-base, gnu-fdisk, brightbox-cli
Suggests:
 dosfstools, genisoimage, memtest86+ | memtest86, mtools, parted,
 squashfs-tools | mtd-tools, sudo | fakeroot, syslinux | grub | grub2,
 uuid-runtime, win32-loader
Description: Virtual Machine Builder Scripts
 brightbox-builder contains the scripts that build Brightbox virtual
 machines based on version descriptions.
